.button {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    border: 3px solid #2765EB;
    background-color: #2765EB;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    word-wrap: unset ;
  }

  .text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBEAFE;
    color: #2765EB;
    border-radius: 5px;
    padding: 0 10px;
  }

  .arrow path {
    fill: #DBEAFE;
  }

  .button:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  .button:active {
    transform: scale(0.97);
  }