.Btn-Container {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #1d2129;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
    padding: 0 0 0 10px;
  }
  .icon-Container {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #1d2129;
  }
  .text {
    /* width: calc(170px - 45px); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: .7rem;
    letter-spacing: 1.2px;
  }
  .icon-Container svg {
    transition-duration: 1.5s;
    transform: rotate(90deg);
  }
  .Btn-Container:hover .icon-Container svg {
    transition-duration: 1.5s;
    animation: arrow 1s linear infinite;
  }
  @keyframes arrow {
    0% {
      opacity: 0;
      margin-top: 0px;
    }
    100% {
      opacity: 1;
      margin-top: 10px;
    }
  }